.appointment {
  background: url(../img/appointment-bg.webp);
  background-size: cover;
  background-position: bottom;
}
.appointment .content {
  display: flex;
  align-items: center;
}
.appointment h3 {
  color: #fff;
  font-family: "General Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.4px;
  max-width: 449px;
}
.appointment .container {
  display: flex;
  justify-content: space-around;
}
.appointment .img-container {
  padding-top: 60px;
  max-width: 261px;
}
@media screen and (max-width: 768px) {
  .appointment .container {
    padding: 0 16px;
  }
  .appointment h3 {
    font-size: 31px;
    max-width: 355px;
  }
}
@media screen and (max-width: 567px) {
  .appointment h3 {
    font-size: 23px;
  }
}
@media screen and (max-width: 445px) {
  .appointment .container {
    flex-direction: column;
    padding-top: 40px;
  }
  .appointment .container h3 {
    max-width: 100%;
  }
  .appointment .container .img-container {
    margin: auto;
    padding-top: 40px;
  }
}
