.hero .subtitle {
  margin-top: 40px;
}

.google-img {
  width: 90px;
  height: 29px;
  margin: 0 5px;
}

.facebook-img {
  width: 102px;
  height: 20px;
  margin: 0 5px 5px 5px;
}

@media screen and (max-width: 992px) {
  .hero {
    padding: 40px 0 !important;
  }

  .hero .subtitle {
    max-width: 667px;
  }

  .hero .hero-right img {
    margin-left: -25px;
  }
}

@media screen and (max-width: 576px) {
  .hero .hero-left .subtitle {
    max-width: 416px;
    padding: 0;
    text-align: left;
  }

  .google-img {
    width: 70px;
    height: 25px;
    margin: 0 4px 0 4px;
  }

  .facebook-img {
    width: 86.7px;
    height: 25px;
    margin: 0 -2px 2px 0;
  }

  .hero .hero-left h1 {
    text-align: left;
  }

  .hero .subtitle {
    font-size: 16px;
    margin: 20px 0;
    padding: 0;
    text-align: left !important;
  }

  .hero .btnplace .buttons {
    max-width: 248px;
  }

  .hero .buttons a {
    font-size: 16px;
  }

  .hero .review {
    margin-top: 20px;
  }

  .hero .review .stars img {
    margin-bottom: 0;
  }

  .hero .review .stars p {
    font-size: 9.57px;
  }

  .hero .review .avatar-list {
    width: 98px;
    height: 31px;
  }

  .hero .hero-left {
    margin: 0;
  }

  .hero .wrapper .content {
    gap: 20px;
  }

  .hero .under-hero {
    padding: 0 0 20px 0;
  }

  .hero .checkmark-box p {
    font-size: 10px;
  }

  .hero .checkmarks-holder {
    gap: 8px;
  }
}

@media screen and (max-width: 490px) {
  .hero .hero-left .subtitle {
    max-width: 410px;
    padding: 0;
    text-align: left;
  }

  .hero {
    padding: 0 !important;
  }

  .hero .hero-right img {
    margin-left: -8px;
  }
}

@media screen and (max-width: 375px) {
  .google-img {
    width: 74px !important;
    height: 26px;
    margin: 0 4px 0 4px;
  }

  .facebook-img {
    width: 86.7px !important;
    height: 20px;
    margin: 0 -2px 2px 0 !important;
  }

  .hero-left span img {
    margin-top: 0 !important;
  }
}
