.navbar {
  position: relative;
  background-color: white;
  z-index: 1000;
  opacity: 1;
}

.navbar .menu {
  display: flex;
  align-items: center;
  font-family: "General Sans";
}

.navbar .menu-list {
  display: flex;
  gap: 20px;
}

.navbar .menu-list li a {
  color: #27272a;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.14px;
}

.navbar .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background-color: white;
}

.navbar .hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
}

.navbar .logo.mobile-view {
  margin-right: auto;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .navbar .menu-list {
    display: none; /* Hide menu list by default on mobile */
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
  }

  .navbar .menu-list.active {
    display: flex; /* Show menu when active */
  }

  .navbar .hamburger {
    display: flex;
  }

  .navbar .primary-button--with-unset {
    padding: 10px 14px;
  }
}
